// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// ===== VARIABLE SCSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #212529;
$grey-color: #6c757d;
$white-color: #ffffff;
$purple-color: #8d448b;

// font body
$font-body: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 155%;
$leading-text: 185%;

// ===== BASE & RESET =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
  letter-spacing: -0.9px;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-medium;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-subtitle {
    font-size: 15px;
    font-weight: $font-semibold;
    color: $purple-color;
    margin-bottom: $margin-0-5;
  }

  &-title {
    font-size: 24px;
    font-weight: $font-semibold;
    color: $black-color;
    line-height: $leading-title;
    margin-bottom: 1rem;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &-button {
    margin-bottom: 2rem;
  }
}

.button {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $purple-color;
  border-radius: 10px;
  font-size: 15px;
  font-weight: $font-medium;
  color: $white-color;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 18px;
    font-weight: $font-semibold;
    color: $black-color;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: $header-height + 1rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      border-radius: 10px;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    color: $grey-color;

    &:hover {
      font-weight: $font-medium;
      color: $purple-color;
    }
  }

  &__button {
    margin-top: $margin-1-5;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 3rem;
  }

  &__data,
  &__img {
    justify-self: center;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: $margin-2;

    &-input {
      width: 100%;
      height: 55px;
      padding: 1rem;
      text-align: center;
      background-color: rgba($color: #000000, $alpha: 0.05);
      border-radius: 10px;
      font-size: 15px;
      font-weight: $font-medium;
      color: $black-color;

      &::placeholder {
        font-size: 15px;
        color: $grey-color;
      }
    }
  }

  &__sponsors {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-text {
      font-size: 15px;
      color: $grey-color;
    }

    &-list {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    &-img {
      width: 90px;
    }
  }
}

// ===== FEATURES SECTION =====
.features {
  &__container {
    gap: 2rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 0.8fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    display: grid;
    text-align: center;
    gap: 1rem;

    &-img {
      width: 90px;
      justify-self: center;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== BOOST SECTION =====
.boost {
  &__container {
    gap: 3rem;
  }

  &__data,
  &__img {
    justify-self: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: $margin-2;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: $grey-color;

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      padding: 0.2rem;
      background-color: $purple-color;
      border-radius: 50%;
      font-size: 1rem;
      color: $white-color;
    }
  }
}

// ===== VIDEO SECTION =====
.video {
  &__container {
    gap: 3rem;
  }

  &__data {
    justify-self: center;
    text-align: center;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }

    &-img {
      width: 100%;
      height: 100%;
    }

    &-button {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      padding: 1rem;
      background-color: $white-color;
      border-radius: 50%;
      font-size: 2.5rem;
      color: $purple-color;
      cursor: pointer;
      z-index: $z-normal;
    }
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  &__data {
    justify-self: center;
    text-align: center;
  }

  &__content {
    display: grid;
    padding: 2rem;
    gap: 2rem;
    border: 2px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    transition: $transition-400;

    &-comment {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }

    &-profile {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-img {
      width: 55px;
    }

    &-name {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
      margin-bottom: 4px;
    }

    &-profession {
      font-size: 15px;
      color: $grey-color;
    }

    &.swiper-slide-active {
      box-shadow: 0 12px 24px rgba($color: #000000, $alpha: 0.05);
      border-color: $white-color;
    }
  }

  .swiper-wrapper {
    padding: 2rem 0 3rem;
  }

  &__container {
    overflow: hidden;

    & .swiper-pagination {
      position: initial;
    }

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      transition: $transition-400;
    }

    & .swiper-pagination-bullet-active {
      width: 2rem;
      height: 10px;
      background-color: rgba($color: #8d448b, $alpha: 1);
      border-radius: 5rem;
    }
  }
}

// ===== CUSTOMER SECTION =====
.customer {
  &__container {
    gap: 3rem;
  }

  &__img,
  &__data {
    justify-self: center;
  }
}

// ===== BLOG SECTION =====
.blog {
  &__bg {
    padding: 5rem 0;
    background-color: #f6f8fb;
  }

  &__container {
    gap: 2rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
    justify-content: center;
    gap: 3rem;
  }

  &__content {
    overflow: hidden;
    background-color: $white-color;
    border-radius: 10px;
    transition: $transition-400;

    &:hover {
      box-shadow: 0 4px 12px rgba($color: #000000, $alpha: 0.1);
      transform: translateY(-4px);
      cursor: pointer;
    }

    &-img {
      width: 100%;
    }

    &-data {
      padding: 1rem;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $black-color;
      line-height: $leading-title;
      margin-bottom: $margin-1;
    }

    &-comments {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 15px;
      color: $grey-color;
    }

    &-icon {
      display: inline-flex;
      font-size: 1.5rem;
    }
  }
}
